@import url(../header/header.css);
@import url(../main/main.css);
@import url(../footer/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

@media (max-width: 1200px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 500px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}