footer {
    margin-top: 50px;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .f_iconka {
        gap: 20px;
        display: flex;
    }
    p {
        font-family: "Heebo";
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
color: rgba(33, 36, 61, 1);

    }
}
@media (max-width: 500px) {
    footer {
        margin-top: 30px;
    }
}