.wrapper {
    padding-top: 25px;
    display: flex;
    gap: 20px;
    padding-bottom: 25px;

    .wrapper_img {
        max-width: 250px;
        height: 180px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
    }

    .wrapper_text {
        h2 {
            font-family: "Heebo";
            font-size: 30px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0px;
            text-align: left;
        }

        p {
            font-family: "Heebo";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            max-width: 590px;
        }
    }
}

.main_wrapper {
    margin-top: 70px;

    h1 {
        font-family: "Heebo";
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
    }

    .wrapper_img {
        margin-top: 25px;

        img {
            border-radius: 6px;
        }
    }

    .main_option {
        h2 {
            margin-top: 15px;
        }
    }
}

.wrapper_text {
    .wrapper_box {
        display: flex;
        padding: 20px 0px;
        gap: 20px;

        .sana {
            width: 65px;
            height: 10px;

            h3 {
                font-family: "Heebo";
                font-size: 18px;
                font-weight: 900;
                letter-spacing: 0px;
                text-align: center;
                color: #fff;
                background: rgba(20, 40, 80, 1);
                border-radius: 50px;
            }
        }

        span {
            font-family: "Heebo";
            font-size: 20px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(134, 149, 164, 1);
        }
    }
}

@media (max-width: 901px) {
    .main_wrapper {
        h4 {
            display: flex;
            justify-content: center;
        }
    }

    .main_wrapper {

        .wrapper {
            display: flex;
            flex-direction: column;

            .wrapper_img {
                max-width: 900px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

body {
    .main_wrapper {
        .main_option {
            display: none;
        }
    }
}

@media (max-width: 901px) {
    body {
        .main_wrapper {
            .main_option {
                display: flex;
                flex-direction: column;
            }

            h1 {
                font-family: "Heebo";
                font-size: 30px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }
}

@media (max-width: 901px) {
    .main_wrapper {
        .option {
            display: none;

        }
    }
}

@media (max-width: 901px) {
    .main_option {
        .wrapper_img {
            max-width: 900px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .wrapper_text {
            h2 {
                font-family: "Heebo";
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0px;
                text-align: left;
            }

            p {
                font-family: "Heebo";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }
}

@media (max-width: 901px) {
    .wrapper_text {
        .wrapper_box {
            display: flex;
            padding: 20px 0px;
            gap: 20px;

            .sana {
                width: 65px;
                height: 10px;

                h3 {
                    font-family: "Heebo";
                    font-size: 18px;
                    font-weight: 900;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #fff;
                    background: rgba(20, 40, 80, 1);
                    border-radius: 50px;
                }
            }

            span {
                font-family: "Heebo";
                font-size: 20px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0px;
                text-align: left;
                color: rgba(134, 149, 164, 1);
            }
        }
    }

    .wrapper {
        .wrapper_text {
            h2 {
                font-family: "Heebo";
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0px;
                text-align: left;

            }

            p {
                font-family: Heebo;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                max-width: 590px;
            }
        }
    }
}